body{
    font-family: 'Barlow Condensed', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    margin: auto;
    width: 150vh;
    height: 150vh;
    margin-top: 0vh;
    margin-left: 20vw;
    margin-right: 20vw;
    

    /*line-height: 1em;*/
    font-weight: 400;
    background-color: #d7d7d7;
}
.header{
    /*background-color: #EDD8E7;*/
    /*font-size: 24px;*/
}
img{
    width: 25vh;
    float: left;
}
h1{
    color: rgb(64, 40, 150);
    margin-left: 29vh;
    margin-right: 50vh;
    font-size: 30px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{ 
    color: rgb(77, 70, 158);
    margin-left: 29vh;
    margin-right: 15vh;
}
.qualité{
    float: left;
    margin-bottom: 0.5rem;
    margin-left: 29vh;
    margin-right: 15vh;
}

.developpement{
    color: white;
    background: rgb(117, 50, 180);
    border-radius: 3px;
    padding: 2px 6px;
    display: inline-block;
}

.riguer{
    color: white;
    background: rgb(117, 50, 180);
    border-radius: 3px;
    padding: 2px 6px;
    display: inline-block;
}

.autonomie{
    color: white;
    background: rgb(117, 50, 180);
    border-radius: 3px;
    padding: 2px 6px;
    display: inline-block;
}

.ouvert{
    color: white;
    background: rgb(117, 50, 180);
    border-radius: 3px;
    padding: 2px 6px;
    display: inline-block;
}


    /* section */
.container{
    float: left;
}
.menu section{
    position: relative;
    float: left;
    

}
a{ 
    text-decoration: none;
}
.container li{
    text-decoration: none;
    list-style: none;
    border-bottom: 0.2rem solid #cccccc;
    float: left;
}



.menu-ind{
    margin-right: 3vh;
}
.menu-exp{
    margin-right: 3vh;
}
.menu-for{
    margin-right: 3vh;
}
.menu-com{
    margin-right: 3vh;
}
.menu-loi{
    margin-right: 3vh;
}




.cvd {

    margin-top: 0%;
    text-decoration: none;
    list-style: none;
    margin-left: 20vw;
    
}